<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" media="screen, print" href="/css/application.css">

</head>
<body>

<h1>{{ doc.info.description }}</h1>

<div>
    <dl>
        <dt>Contact</dt>
        <dd>{{ doc.info.contact.email }}</dd>
        <dt>Licence</dt>
        <dd><a href="{{  doc.info.license.url }}">{{  doc.info.license.name }}</a></dd>
    </dl>

</div>


<div>
    {% for path in paths %}
        {{ path }}<br>
    {% endfor %}

</div>

</body>
</html>